<template>
  <ol class="suggestions">
    <li
      v-if="results.length < 1"
      class="suggestions_row suggestions__no-results">No results found</li>
    <Suggestion
      class="suggestions_row"
      v-for="result in results"
      :key="result.bookingId"
      :result="result" />
  </ol>
</template>

<script>
import Suggestion from './Suggestion/Suggestion.vue';

export default {
  components: {
    Suggestion,
  },
  props: ['results'],
};
</script>

<style lang="scss" scoped>
.suggestions {
  background: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}
.suggestions_row {
  border-top: 1px solid #b4b4b4;
  margin: 0;
  padding: 8px 16px;
}
</style>
