<template>
  <div class="search-box">
    <h2>Where are you going?</h2>
    <label for="search-box__input">Pick-up Location</label>
    <div class="search-box__input-suggestions">
      <input
        v-model="searchBoxValue"
        @keyup="keyUp"
        id="search-box__input"
        type="text"
        placeholder="city, airport, station, region, district..."
        autocomplete="off" >
      <Suggestions
        class="search-box__suggestions"
        v-if="searchBoxValue.length > 1"
        :results="results" />
    </div>
  </div>
</template>

<script>
import AutocompleteResource from '../../resources/AutocompleteResource';
import Suggestions from './Suggestions/Suggestions.vue';

export default {
  components: {
    Suggestions,
  },
  data() {
    return {
      results: [],
      searchBoxValue: '',
    };
  },
  methods: {
    keyUp() {
      if (this.searchBoxValue.length < 2) {
        this.results = [];
        return;
      }
      // TODO: handle debouncing of request
      AutocompleteResource
        .searchAhead(this.searchBoxValue)
        .then((results) => {
          this.results = results;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../scss/modules/_colours.scss';
.search-box {
  background-color: $searchBoxBackground;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
  width: 512px;
}
h2 {
  color: #444;
  font-family: Ubuntu,Open Sans,Segoe UI,Tahoma,sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 0 0 1rem;
}
label {
  color: #444;
  display: block;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.24rem;
  padding: 0 0 4px;
}
input {
  border: 1px solid rgb(200, 174, 91);
  border-radius: 4px;
  box-sizing: inherit;
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 48px;
  line-height: 1.5rem;
  padding: 8px 16px;
  width: 100%;
}
.search-box__input-suggestions {
  position: relative;
  box-sizing: border-box;
}
.search-box__suggestions {
  position: absolute;
  top: 48px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(200, 174, 91);
  border-radius: 4px;
  margin: 0;
}
</style>
