<template>
  <li class="suggestion">
    <TypeTag class="suggestion__tag" :type-tag="result.placeType" />
    <div class="suggestion__name-wrapper">
      <span class="suggestion__name">{{ name }}</span>
      <div class="suggestion__name-subtext">{{ subtext }}</div>
    </div>
  </li>
</template>

<script>
import TypeTag from './TypeTag.vue';

export default {
  components: {
    TypeTag,
  },
  computed: {
    name() {
      let { name } = this.result;
      if (this.result.iata) {
        name = `${name} (${this.result.iata})`;
      }
      return name;
    },
    subtext() {
      const subtextArray = [];
      if (this.result.region) {
        subtextArray.push(this.result.region);
      }
      if (this.result.city) {
        subtextArray.push(this.result.city);
      }
      if (this.result.country) {
        subtextArray.push(this.result.country);
      }
      return subtextArray.join(', ');
    },
  },
  props: ['result'],
};
</script>

<style lang="scss" scoped>
.suggestion {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &:hover {
    background-color: #e7f4fe;
    cursor: pointer;
  }
}
.suggestion__name-wrapper {
  padding: 0 16px;
}
.suggestion__name, .suggestion__name-subtext {
  font-family: 'Open Sans',Segoe UI,Tahoma,sans-serif;
}
.suggestion__name {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.suggestion__name-subtext {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
</style>
