<template functional>
  <div class="type-tag">
    <div v-if="props.typeTag === 'A'"
      class="type-tag__pill type-tag__pill--airport">Airport</div>
    <div v-else-if="props.typeTag === 'C'"
      class="type-tag__pill type-tag__pill--city">City</div>
    <div v-else-if="props.typeTag === 'T'"
      class="type-tag__pill type-tag__pill--station">Station</div>
    <div v-else-if="props.typeTag === 'Z'"
      class="type-tag__pill type-tag__pill--place">Place</div>
    <div v-else-if="props.typeTag === 'D'"
      class="type-tag__pill type-tag__pill--district">District</div>
    <div v-else-if="props.typeTag === 'W'"
      class="type-tag__pill type-tag__pill--country">Country</div>
    <div v-else-if="props.typeTag === 'F'"
      class="type-tag__pill type-tag__pill--region">Region</div>
  </div>
</template>

<style lang="scss" scoped>
.type-tag {
  font-size: 0.75rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.type-tag__pill {
  text-align: center;
  width: 60px;
  padding: 1px 4px;
  border-radius: 4px;
}
.type-tag__pill--airport {
  background: rgb(150, 20, 18);
}
.type-tag__pill--city {
  background: rgb(10, 99, 176);
}
.type-tag__pill--station {
  background: rgb(91, 91, 91);
}
.type-tag__pill--place {
  background: rgb(255, 154, 2);
}
.type-tag__pill--district {
  background: rgb(1, 124, 68);
}
.type-tag__pill--country {
  background: rgb(17, 109, 138);
}
.type-tag__pill--region {
  background: rgb(241, 199, 76);
  color: rgb(34, 34, 34);
}
</style>
