<template>
  <div id="app">
    <SearchBox />
  </div>
</template>

<script>
import SearchBox from './components/search-box';

export default {
  name: 'app',
  components: {
    SearchBox,
  },
};
</script>

<style lang="scss">
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a6eb9;
  height: 100%;
  padding-top: 60px;
  box-sizing: border-box;
}
</style>
